@import '~mdb-ui-kit/src/scss/mdb.pro.scss';
@import '~mdb-ui-kit/css/mdb.dark.min.css';

$my-theme-primary: #9c27b0; // theme primary color, change this value to customize theme
$my-theme-secondary: #69f0ae; // theme secondary color, change this value to customize theme

$my-dark-theme: mdb-dark-theme($my-theme-primary, $my-theme-secondary); // create the new dark theme using
primary and secondary colors

// include theme styles
@include mdb-theme($my-dark-theme);